<div
    class="card"
    tuiCardLarge
    tuiSurface="elevated"
    draggable="true"
    (dragstart)="onDragCandidate()"
>
    <header tuiHeader (click)="goToCandidateDetail()">
        <h3 class="title-link" tuiTitle>{{candidate.firstName}} - {{ candidate.lastName }}</h3>
    </header>

    <div>
        <label><b>Email:</b> {{ candidate.email }}</label>
    </div>

    <div>
        <label><b>Phone Number:</b> {{ candidate.phoneNumber }}</label>
    </div>

    <div>
        <form [formGroup]="cardForm">
            <input type="checkbox" formControlName="cardCheckBox" name="{{ candidate.id }}"> select and drag to update status
        </form>
    </div>
</div>