<div>
    <div>
        <div class="tui-col_12">
            <h3 class="tui-form__header tui-form__header_margin-top_none">Filters</h3>
            <form class="row w-100" [formGroup]="searchForm">
                <tui-input
                    class="search-control margin-r-5"
                    formControlName="formSearchName"
                    tuiTextfieldIconLeft="tuiIconSearchLarge"
                >
                    Search
                    <input
                        tuiTextfield
                    />
                </tui-input>

                <tui-input-date
                    class="search-control margin-r-5"
                    formControlName="formSearchDate"
                >
                    Date Created
                    <input
                        tuiTextfield
                    />
                </tui-input-date>

                <tui-select
                    class="search-control margin-r-5"
                    [tuiTextfieldCleaner]="true"
                    formControlName="formSearchInterviewer"
                >
                    Choose an interviewer
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="interviewers"
                    ></tui-data-list-wrapper>
                </tui-select>
            </form>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let displayStatus of displayStatues">
            <div class="col_3">
                <app-candidate-column [status]="displayStatus"></app-candidate-column>
            </div>
        </ng-container>
    </div>
</div>