<form *ngIf="candidateForm" [formGroup]="candidateForm" class="margin-top-2">
    <div class="tui-row tui-row_sme">
        <div class="tui-col_8">
            <div class="row margin-bottom-1">
                <div class="input-control margin-r-5">
                    <tui-input
                        formControlName="firstName"
                    >
                        First Name
                        <input
                            tuiTextfield
                        />
                        <span class="tui-required"></span>
                    </tui-input>
                    <tui-error
                        formControlName="firstName"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                
                <div class="input-control">
                    <tui-input
                        formControlName="lastName"
                    >
                        Last Name
                        <input
                            tuiTextfield
                        />
                        <span class="tui-required"></span>
                    </tui-input>
                    <tui-error
                        formControlName="lastName"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>

            <div class="row margin-bottom-1">
                <div class="input-control margin-r-5">
                    <tui-input
                        formControlName="email"
                    >
                        Email
                        <input
                            tuiTextfield
                        />
                        <span class="tui-required"></span>
                    </tui-input>
                    <tui-error
                        formControlName="email"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                
                <div class="input-control">
                    <tui-input-phone-international
                        formControlName="phoneNumber"
                        [countries]="countries"
                        [(countryIsoCode)]="countryIsoCode"
                    >
                        Phone Number
                    </tui-input-phone-international>
                    <tui-error
                        formControlName="phoneNumber"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>

            <div class="tui-form__row margin-bottom-2">
                <button
                    appDebounceClick
                    [debounceTime]="500"
                    appearance="primary"
                    tuiButton
                    type="button"
                    class="tui-space_right-3 tui-space_bottom-3"
                    (click)="saveCandidate()"
                >
                    Save
                </button>
            </div>

            <div class="tui-form__row">
                <label><b>Jobs</b></label>
                <table
                    tuiTable
                    class="table w-100"
                    [columns]="columns"
                >
                    <thead>
                        <tr tuiThGroup>
                            <th tuiTh>
                                Title
                            </th>
                            <th 
                                tuiTh
                                [resizable]="true"
                            >
                                Description
                            </th>
                            <th tuiTh>
                                Interviewer
                            </th>
                        </tr>
                    </thead>
                    <tbody
                        tuiTbody
                        [data]="jobs"
                    >
                        <tr
                            *ngFor="let item of jobs"
                            tuiTr
                        >
                            <td
                                *tuiCell="'title'"
                                tuiTd
                            >
                                {{ item.job.title }}
                            </td>
                            <td
                                *tuiCell="'description'"
                                tuiTd
                            >
                                {{ item.job.description | truncate:100 }}
                            </td>
                            <td
                                *tuiCell="'interviewer'"
                                tuiTd
                            >
                                {{ item.interviewer.firstName }} {{ item.interviewer.lastName }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>